.counterButton {
    background-color: rgb(31, 49, 79);
    width: 50px; 
    height: 50px; 
    font-size: 30px; 
    color: white; 
    border: 0; 
    padding: 10px; 
    border-radius: 10px;
    margin: 10px; 
  }
  
  .counterButton:hover { 
    background-color: rgb(101, 101, 223); 
  }
  
  .numberInputBox { 
    width: 100px; /* 최대 너비 500px */
    padding: 12px 16px; /* 안쪽 여백으로 입력 필드 내부 공간 확보 */
    margin: 15px; /* 위아래 여백 */
    background-color: #b8d7eb;
    border: none; /* 기본 테두리 */
    border-radius: 8px; /* 둥근 모서리 */
    font-size: 16px; /* 텍스트 크기 */
    box-sizing: border-box;
  }


.numberInputBox:focus {
    border: 1px solid  rgb(92, 87, 87);
    transition: border-color 0.3s ease-in-out; /* 호버 효과를 위한 부드러운 전환 */
}


.numberSubmitBox {
    width: 50px;
    background-color: white;
    color: black; 
    border: 2px solid white; 
    border-radius: 5px;
    font-size: 16px; 
}

.numberSubmitBox:hover {
    background-color: #f0f0f0;
    color: #555555;
}